torch
torchvision
albumentations
fastapi
hydra-core
matplotlib
numpy
onnx
onnxruntime
opencv-python
pandas
Pillow
requests
rich
scikit-learn
seaborn
timm
tqdm
yamlreader
PyYAML
scipy
ml-dtypes
opencv-python-headless
